@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');

@font-face {
    font-family: 'Open Sans', sans-serif; /* Имя шрифта */
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');
}

html, body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.row {
    margin: 0;
}

#menu-line {
    padding: 0;
}

#logo {
    z-index: 2;
    height: 136px;
    width: 292px;
    padding: 35px 0 35px 70px;
    background: -webkit-gradient(linear, left top, right top, from(#2a5198), to(#603f97));
    background: -webkit-linear-gradient(left, #603f97, #2a5198);
    background: -moz-linear-gradient(left, #603f97, #2a5198);
    background: -ms-linear-gradient(left, #603f97, #2a5198);
    background: -o-linear-gradient(left, #603f97, #2a5198);
}

#logo img {
    float: left;
    margin: 5px 5px;
}

#logo img + p {
    float: left;
    font-size: 22px;
    color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 55px;
    margin-left: 5px;
}

#menu {
    height: 108px;
    margin: 10px 0 0;
    padding: 30px 0 20px;
    color: #ffffff;
    text-align: right;
    background: -webkit-gradient(linear, left top, right top, from(#667ee9), to(#7458b4));
    background: -webkit-linear-gradient(left, #7458b4, #667ee9);
    background: -moz-linear-gradient(left, #7458b4, #667ee9);
    background: -ms-linear-gradient(left, #7458b4, #667ee9);
    background: -o-linear-gradient(left, #7458b4, #667ee9);
}

.mob-menu {
    display: none;
}

ul.links {
    margin: 0;
    padding: 13px 87px 13px 0;
}

ul.links li {
    display: inline-block;
    margin-right: 24px;
    padding: 0;
}


ul.links li a {
    color: white;
}

ul.links li a:active, ul.links li a:hover {
    border-top: 1px solid #ffffff;
    text-decoration: none;
}
div.contacts{
    padding: 0;
    margin-left: 14px;
}
.contacts p:first-child {
    padding: 8px 1px 0 55px;
    font-size: 18px;
    font-weight: 300;
}
.contacts p:last-child {
    margin: -11px 4px 10px;
}
div.lang {
    padding: 0;
    width: 84px;
    margin-left: 10px;
}
div.lang ul{
    padding: 0;
    margin: 12px 3px;

}
div.lang li {
    display: inline-block;
    color: white;
    margin: 0 3px;
}

div.lang li a.active {
    border: 1px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 0 5px;
}

li a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

#page-1 {
    text-align: right;
    padding: 0;
}

#col1 {
    height: 630px;
    z-index: -1;
    margin: -170px 0;
    padding: 200px 50px;
    background: -webkit-gradient(linear, left top, right bottom, from(#85d6d0), to(#714ee3));
    background: -webkit-linear-gradient(left top, #714ee3, #85d6d0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #714ee3, #85d6d0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #714ee3, #85d6d0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #714ee3, #85d6d0); /* Standard syntax */
}
#col1 .h1, #col1 h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 42px;
    line-height: 1.15;
}
#col1 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.45;
}
#col2 {
    height: auto;
    padding: 0;
    margin-top: -18px;
}

/* ----- SWIPER.js ----- */

.swiper-container {
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
    z-index: 1;
}

#col2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#col2 .swiper-slide {
    height: 525px !important;
}
.swiper-container .swiper-wrapper .swiper-slide img {
    float: left;
    height: 100%;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {

    left: 80%;
    width: 20%;
    height: 23px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity: .5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
}

.button {
    background: #16143b;
    position: absolute;
    top: 497px;
    left: 471px;
    width: 273px;
    height: 49px;
    color: white;
    font-size: 14px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-align: center;
    font-weight: 200;
}

#page-2 {
    margin: 150px auto 50px;
    /*padding-top: 50px;*/
    /*background-color: lightcyan;*/
    color: darkslateblue;
}
#page-2 .h1, #page-2 h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 42px;
    line-height: 1.15;
}
#page-2 .row:first-child{
    margin: -13px 0 0 91px;
}


#page-2 .row:nth-child(2) {
    margin-top: 150px;
    height: 336px;
    background: -webkit-gradient(linear, left top, right bottom, from(#7347a0), to(#647cea));
    background: -webkit-linear-gradient(left top, #647cea, #7347a0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #647cea, #7347a0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #647cea, #7347a0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #647cea, #7347a0); /* Standard syntax */
}

#page-2 .row:nth-child(2) .col-md-4 {
    margin-top: -150px;
}

#page-2 .row:nth-child(2) .col-md-4 .number-bg {
    display: inline-block;
    position: absolute;
    top: 220px;
    left: 0;
    width: 105px;
    height: 175px;
    font-weight: 100;
    font-size: 100pt;

    background: -webkit-gradient(linear, left top, right bottom, from(#81b0d2), to(#746bd7));
    background: -webkit-linear-gradient(left top, #746bd7, #81b0d2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #746bd7, #81b0d2); /* Standard syntax */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
    display: none;
    visibility: hidden;
}

.offer-block-one {
    /*border: 1px solid #204d74;*/
    /*z-index: -2;*/
    padding: 30px;
    color: white;
    height: 480px;
}

.offer-block-one h2 {
    font-size: 15px;
    font-weight: 700;
}

#page-2 .row:last-child .col-md-4 .offer-block-one .content {
    z-index: 3;
    display: inline-block;
}

div.info-more {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 25px;
    background: transparent;
    margin: 0 30%;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1;
    bottom: 50px;
    font-size: 22px;
}

.offer-block-two {
    border: 2px solid deepskyblue;
    /*z-index: -2;*/
    padding: 30px;
    background-color: ghostwhite;
    height: 520px;
}

.points, #page-2 .col-md-8 p {
    margin: 50px 10px;
    height: 200px;
    overflow-y: scroll;
    color: lightslategrey;
    font-size: 16px;
    line-height: 1.5;
}

.points ul li {
    margin: 15px 0;
}

.offer-block-two h2 {
    font-size: 35px;
    font-weight: 100;
}

.offer-block-two .info-more {
    color: darkslateblue;
    border: 2px solid darkslateblue;
}

#page-2 div.content {
    z-index: 5;
}

@media only screen and (min-device-width: 481px) {
    #col1 {
        transform: translateX(-100%);
    }

    #col2 {
        transform: translateX(100%);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: portrait) {

    #logo {
        height: 80px;
        padding: 11px 13px;
        width: 180px;
    }
    #logo img {
        float: left;
        margin: 10px 20px;
        height: 35px;
        width: 35px;
    }
    #logo img + p {
        float: left;
        font-size: 18px;
        line-height: 50px;
        color: white;
        margin: 3px -9px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }

    #menu {
        height: 84px;
        margin: 0;
        padding: 23px 0px 40px 85px;
        width: 140px;
    }

    #mobMenu {
        display: block;
        height: 25px;
        width: 25px;
        z-index: 5;
        background-image: url(img/menu-button.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0;
    }

    #menu .row {
        display: none;
    }

    .button {
        margin: 230px 3%;
        z-index: 5;
    }

    #col1 {
        margin: 0;
        padding: 20px;
        height: 270px;
        font-size: 10pt;
        text-align: left;
    }

    #col1 .h1, h1 {
        font-size: 28px;
        font-weight: lighter;
        text-align: left;
    }

    #col2 {
        margin-top: -10px;
    }
    #col2 .swiper-slide{
        width: 320px;
        height: 246px;
    }
    #page-1 .button {
        background: #16143b;
        position: absolute;
        width: 280px;
        height: 50px;
        color: white;
        font-size: 16px;
        line-height: 50px;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        text-align: center;
        font-weight: 300;
    }
    #page-2 {
        margin: 0 auto 50px;
        padding: 50px 0;
        color: black;
    }

    #page-2 .row:last-child {
        background: none;
        margin: 0;
    }

    .row .colorBG {
        margin: 100px 0 0;
        padding: 0;
        height: 300px;
        width: 100%;
        position: absolute;
        background: -webkit-gradient(linear, left top, right bottom, from(#7347a0), to(#647cea));
        background: -webkit-linear-gradient(left top, #647cea, #7347a0);
        background: -o-linear-gradient(bottom right, #647cea, #7347a0);
        background: -moz-linear-gradient(bottom right, #647cea, #7347a0);
        background: linear-gradient(to bottom right, #647cea, #7347a0);
    }

    #page-2 .row:last-child .swiper-container {
        border: 2px solid green;
        width: 90%;
        height: 100%;
        z-index: 10;
        margin-top: 0px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 12px;
        background: transparent;
    }

}