html {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    color: white;
    font-family: Helvetica, sans-serif, Regular, Arial;
}

.row {
    margin: 0;
}

#menu-line {
    z-index: 1;
    padding: 0;
}

#logo {
    height: 150px;
    padding: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#2a5198), to(#603f97)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(left, #603f97, #2a5198); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(left, #603f97, #2a5198); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #603f97, #2a5198); /* IE 10 */
    background: -o-linear-gradient(left, #603f97, #2a5198); /* Opera 11.10+ */
}

img {
    float: left;
}

img + p {
    float: left;
    font-size: 2em;
    color: white;
    margin: 0 10px;
}

#menu {
    height: 100px;
    margin: 25px 0;
    padding: 30px 0 20px;
    color: #ffffff;
    text-align: right;
    background: -webkit-gradient(linear, left top, right top, from(#667ee9), to(#7458b4)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(left, #7458b4, #667ee9); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(left, #7458b4, #667ee9); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #7458b4, #667ee9); /* IE 10 */
    background: -o-linear-gradient(left, #7458b4, #667ee9); /* Opera 11.10+ */
}

.mob-menu {
    display: none;
}

ul.links {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

ul.links li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

ul.links li a {
    color: white;
}

ul.links li a:active, ul.links li a:hover {
    border-top: 1px solid #ffffff;
    text-decoration: none;
}

.contacts p:first-child {
    font-size: 20px;
    font-weight: bold;
}

div.lang li {
    display: inline;
    color: white;
}

div.lang li a.active {
    border: 1px solid #ffffff;
}

li a {
    color: white
}

#page-1 {
    /*height: 100px;*/
    /*width: 100%;*/
    text-align: right;
    padding: 0;
}

#col1 {
    /*background-color: dodgerblue;*/
    /* height: 400px; */
    z-index: -1;
    margin: -155px 0;
    padding: 200px 30px;
    background: -webkit-gradient(linear, left top, right bottom, from(#85d6d0), to(#714ee3));
    background: -webkit-linear-gradient(left top, #714ee3, #85d6d0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #714ee3, #85d6d0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #714ee3, #85d6d0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #714ee3, #85d6d0); /* Standard syntax */

}

#col2 {
    /*top: 120px;*/
    /*background-color: blueviolet;*/
    height: auto;
    padding: 0;
    margin-top: -30px;
}

/*----- begin carousel --------*/
#myCarousel {
    width: 100%;
    height: auto;
    z-index: -10;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 510px;
}

.carousel-indicators {
    margin-left: -15%;
    text-align: right;
}

/*----- end carousel --------*/
.button {
    background: #16143b;
    position: absolute;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 14pt;
    margin: 350px 470px;
    z-index: 10;
    text-align: center;
    padding: 12px;
    font-weight: 100;
}

#page-2 {
    margin: 150px auto 50px;
    padding-top: 50px;
    /*background-color: lightcyan;*/
    color: black;
}
#page-2 .row:last-child {
    margin-top: 150px;
    height: 336px;
    background: -webkit-gradient(linear, left top, right bottom, from(#7347a0), to(#647cea));
    background: -webkit-linear-gradient(left top, #647cea, #7347a0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #647cea, #7347a0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #647cea, #7347a0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #647cea, #7347a0); /* Standard syntax */
}

#page-2 .row:last-child .col-md-4 {
    margin-top: -150px;
}

.offer-block-one .number-bg {
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 220px;
    left: 0;
    width: 105px;
    height: 175px;
    font-weight: 100;
    font-size: 100pt;

    background: -webkit-gradient(linear, left top, right bottom, from(#81b0d2), to(#746bd7));
    background: -webkit-linear-gradient(left top, #746bd7, #81b0d2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #746bd7, #81b0d2); /* Standard syntax */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
    display: none;
    visibility: hidden;
}

.offer-block-one {
    /*border: 1px solid #204d74;*/
    /*z-index: -2;*/
    padding: 30px;
    color: ghostwhite;
    height: 480px;
}

.offer-block-one h2 {
    font-size: 15px;
    font-weight: 800;
}

#page-2 .row:last-child .col-md-4 .offer-block-one .content {
    z-index: 3;
    display: inline-block;
}

div.info-more {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 25px;
    background: transparent;
    margin: 0 30%;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1;
    bottom: 50px;
    font-size: 22px;
}

.offer-block-two {
    border: 2px solid deepskyblue;
    /*z-index: -2;*/
    padding: 30px;
    background-color: ghostwhite;
    height: 520px;
}

.points, #page-2 .col-md-8 p {
    margin: 50px 10px;
    height: 200px;
    overflow-y: scroll;
    color: lightslategrey;
    font-size: 16px;
    line-height: 1.5;
}

.points ul li {
    margin: 15px 0;
}

.offer-block-two h2 {
    font-size: 35px;
    font-weight: 100;
}

.offer-block-two .info-more {
    color: darkslateblue;
    border: 2px solid darkslateblue;
}

@media only screen and (min-device-width: 481px) {
    #col1 {
        transform: translateX(-100%);
    }
    #col2 {
        transform: translateX(100%);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: portrait) {
    #logo {
        height: 6em;
        padding: 11px 10px;
    }

    #logo p {
        font-size: 12px;
    }

    #menu {
        height: 5em;
        margin: 0;
        padding: 25px 0 0 78px;
    }

    #mobMenu {
        display: block;
        height: 30px;
        width: 40px;
        background-image: url(img/menu-button.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        margin: 0;

    }
    #menu .row {
        display: none;
    }
    .button {
        margin: 260px 3%;
    }
    #col1 {
        margin: 0;
        padding: 20px;
        height: 270px;
        font-size: 10pt;
        text-align: left;
    }
    #col1 .h1, h1 {
        font-size: 28px;
        font-weight: lighter;
        text-align: left;
    }
    #col2 {
        margin-top: -14px;
    }
    .carousel-inner {
        height: 300px;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
        height: 400px;
    }
    #page-2 {
        margin: 0 auto;
        padding: 0;
    }
    #page-2 .col-md-1 .line {
        display: none;
    }
    /*.row .colorBG {*/
        /*margin:0;*/
        /*padding:0;*/
        /*background: -webkit-gradient(linear, left top, right bottom, from(#7347a0), to(#647cea));*/
        /*background: -webkit-linear-gradient(left top, #647cea, #7347a0); /!* For Safari 5.1 to 6.0 *!/*/
        /*background: -o-linear-gradient(bottom right, #647cea, #7347a0); /!* For Opera 11.1 to 12.0 *!/*/
        /*background: -moz-linear-gradient(bottom right, #647cea, #7347a0); /!* For Firefox 3.6 to 15 *!/*/
        /*background: linear-gradient(to bottom right, #647cea, #7347a0); /!* Standard syntax *!/*/
    /*}*/
    #page-2 .carousel-inner {
        height: 500px;
        margin: -130px 0;
    }
    #page-2 .offer-block-one {
         padding: 0;
    }
    #page-2 .row:last-child {
        /*height: 336px;*/
        margin-top: 130px;
    }
    #page-2 .carousel-indicators .active{
        background-color: #f00;
    }
    #page-2 .carousel-indicators li {
        border: 1px solid #999;
    }
    .carousel-indicators {
        bottom: -40px;
         left: 0;
        z-index: 15;
        margin-left: -5px;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .offer-block-two {
        border: 2px solid deepskyblue;
        /* z-index: -2; */
        padding: 30px;
        background-color: ghostwhite;
        height: 500px;
    }
    .offer-block-one h2 {
        line-height: 2em;
    }
    p {
        margin: 0 0 10px;
        font-weight: 100;
        line-height: 1.5em;
    }

}