@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');

@font-face {
    font-family: 'Open Sans', sans-serif; /* Имя шрифта */
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');
}

html, body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.row {
    margin: 0;
}

#menu-line {
    padding: 0;
}

#logo {
    z-index: 2;
    height: 136px;
    width: 292px;
    padding: 35px 0 35px 70px;
    background: -webkit-gradient(linear, left top, right top, from(#2a5198), to(#603f97));
    background: -webkit-linear-gradient(left, #603f97, #2a5198);
    background: -moz-linear-gradient(left, #603f97, #2a5198);
    background: -ms-linear-gradient(left, #603f97, #2a5198);
    background: -o-linear-gradient(left, #603f97, #2a5198);
}

#logo img {
    float: left;
    margin: 5px 5px;
}

#logo img + p {
    float: left;
    font-size: 22px;
    color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 55px;
    margin-left: 5px;
}

#menu {
    height: 108px;
    margin: 10px 0 0;
    padding: 30px 0 20px;
    color: #ffffff;
    text-align: right;
    background: -webkit-gradient(linear, left top, right top, from(#667ee9), to(#7458b4));
    background: -webkit-linear-gradient(left, #7458b4, #667ee9);
    background: -moz-linear-gradient(left, #7458b4, #667ee9);
    background: -ms-linear-gradient(left, #7458b4, #667ee9);
    background: -o-linear-gradient(left, #7458b4, #667ee9);
}

.mob-menu {
    display: none;
}

ul.links {
    margin: 0;
    padding: 13px 87px 13px 0;
}

ul.links li {
    display: inline-block;
    margin-right: 24px;
    padding: 0;
}

ul.links li a {
    color: white;
}

ul.links li a:active, ul.links li a:hover {
    border-top: 1px solid #ffffff;
    text-decoration: none;
}

div.contacts {
    padding: 0;
    margin-left: 14px;
}

.contacts p:first-child {
    padding: 8px 1px 0 55px;
    font-size: 18px;
    font-weight: 300;
}

.contacts p:last-child {
    margin: -11px 4px 10px;
}

div.lang {
    padding: 0;
    width: 84px;
    margin-left: 10px;
}

div.lang ul {
    padding: 0;
    margin: 12px 3px;

}

div.lang li {
    display: inline-block;
    color: white;
    margin: 0 3px;
}

div.lang li a.active {
    border: 1px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 0 5px;
}

li a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

#page-1 {
    text-align: right;
    padding: 0;
}

#col1 {
    height: 630px;
    z-index: -1;
    margin: -170px 0;
    padding: 200px 50px;
    background: -webkit-gradient(linear, left top, right bottom, from(#85d6d0), to(#714ee3));
    background: -webkit-linear-gradient(left top, #714ee3, #85d6d0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #714ee3, #85d6d0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #714ee3, #85d6d0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #714ee3, #85d6d0); /* Standard syntax */
}

#col1 .h1, #col1 h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 42px;
    line-height: 1.15;
}

#col1 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.45;
}

#col2 {
    height: auto;
    padding: 0;
    margin-top: -18px;
}

/* ----- SWIPER.js ----- */

.swiper-container {
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
    z-index: 1;
}

#col2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#col2 .swiper-slide {
    height: 525px !important;
}

.swiper-container .swiper-wrapper .swiper-slide img {
    float: left;
    height: 100%;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {

    left: 80%;
    width: 20%;
    height: 23px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity: .5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
}

.button {
    position: absolute;
    top: 497px;
    width: 1180px;
    height: 49px;
}

.button p {
    background: #16143b;
    color: white;
    font-size: 14px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-align: center;
    font-weight: 200;
    width: 270px;
    margin: 0 auto;
}

#page-2 {
    margin: 150px auto 50px;
    /*padding-top: 50px;*/
    /*background-color: lightcyan;*/
    color: darkslateblue;
}

#page-2 .row .col-md-6 {
    height: 130px;
    padding: 42px 62px 0;
    line-height: 1.75;
}

#page-2 .line {
    width: 100px;
    height: 1px;
    margin: 57px -5px;
    border-top: 1px solid dimgray;
}

#page-2 .h1, #page-2 h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 42px;
    line-height: 1.15;
}

#page-2 .row:first-child {
    margin: -13px 0 0 91px;
}

#page-2 .row:nth-child(2) {
    margin: 172px 0 0 -15px;
    height: 390px;
    width: 1170px;
    background: -webkit-gradient(linear, left top, right bottom, from(#7347a0), to(#647cea));
    background: -webkit-linear-gradient(left top, #647cea, #7347a0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #647cea, #7347a0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #647cea, #7347a0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #647cea, #7347a0); /* Standard syntax */
}

#page-2 .row:nth-child(2) .col-md-4:first-child {
    margin-top: -97px;
    padding: 0 0 0 39px;
}

#page-2 .row:nth-child(2) .col-md-4:nth-child(2) {
    margin-top: -97px;
    padding: 0 0 0 19px;
}

#page-2 .row:nth-child(2) .col-md-4:last-child {
    margin: -97px 0 0 0;
    padding: 0;
}

#page-2 .row:nth-child(2) .col-md-4 .number-bg {
    display: inline-block;
    position: absolute;
    top: 182px;
    left: 40px;
    width: 105px;
    height: 200px;
    font-weight: 100;
    font-size: 133px;

    background: -webkit-gradient(linear, left top, right bottom, from(#81b0d2), to(#746bd7));
    background: -webkit-linear-gradient(left top, #746bd7, #81b0d2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #746bd7, #81b0d2); /* Standard syntax */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#page-2 .row:nth-child(2) .col-md-4:last-child .number-bg {
    left: 0px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.offer-block-one {
    color: white;
    height: 480px;
    width: 350px;
}

.offer-block-one img {
    width: 296px !important;
    height: 196px !important;
    margin: 0;
}

.offer-block-one h2 {
    font-size: 15px;
    font-weight: 700;
}


#page-2 .row:last-child .col-md-4 .offer-block-one .content {
    z-index: 3;
    display: inline-block;
}

div.info-more {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 25px;
    background: transparent;
    margin: -9px 160px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1;
    bottom: 50px;
    font-size: 22px;
}

.offer-block-two {
    border: 2px solid deepskyblue;
    padding: 55px 37px;
    background-color: ghostwhite;
    height: 547px;
    width: 352px;
    margin-top: -30px;
}

.points, #page-2 .col-md-8 p {
    margin: 13px -23px;
    height: 246px;
    overflow-y: scroll;
    color: lightslategrey;
    font-size: 16px;
    line-height: 1.4;
}

.points ul li {
    margin: 15px 0;
}

.offer-block-two h2 {
    font-size: 35px;
    font-weight: 100;
}

.offer-block-two .info-more {
    color: darkslateblue;
    border: 3px solid darkslateblue;
    margin: -10px 121px;
}

#page-2 div.content {
    height: 180px;
    z-index: 5;
    margin: 64px 40px 21px;
}

@media only screen and (min-device-width: 481px) {
    #col1 {
        transform: translateX(-100%);
    }

    #col2 {
        transform: translateX(100%);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: portrait) {

    body, html {
        overflow-x: hidden;
    }

    #logo {
        height: 80px;
        padding: 11px 13px;
        width: 180px;
    }

    #logo img {
        float: left;
        margin: 10px 20px;
        height: 35px;
        width: 35px;
    }

    #logo img + p {
        float: left;
        font-size: 18px;
        line-height: 50px;
        color: white;
        margin: 3px -9px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }

    #menu {
        height: 84px;
        margin: 0;
        padding: 23px 0 40px 95px;
        width: 140px;
    }

    #mobMenu {
        display: block;
        height: 25px;
        width: 25px;
        z-index: 5;
        background-image: url(img/menu-button.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0;
    }

    #menu .row {
        display: none;
    }

    #page-1 .button {
        background: #16143b;
        position: absolute;
        width: 279px;
        height: 50px;
        color: white;
        font-size: 16px;
        line-height: 50px;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        text-align: center;
        font-weight: 300;
        top: 80px;
        margin: 230px 20px;
        z-index: 5;
    }

    #page-1 .button p {
        background: #16143b;
        color: white;
        font-size: 14px;
        line-height: 50px;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        text-align: center;
        font-weight: 200;
        width: 280px;
        margin: 0;
    }

    #col1 {
        margin: 0;
        padding: 20px;
        height: 340px;
        font-size: 10pt;
        text-align: left;
    }

    #col1 .h1, #col1 h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 30px;
        line-height: 1.2;
        margin-top: 38px;
        text-align: left;
    }

    #col1 p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 15px;
        line-height: 1.45;
        margin: 0;
        padding: 12px 0 0 0px;
    }

    #col2 {
        margin-top: -14px;
    }

    #col2 .swiper-slide {
        height: 260px !important;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        height: 23px;
        top: 24px;
        width: 80px;
        left: 124px;
    }

    #page-2 {
        margin: 0 auto 50px;
        padding: 0;
        color: black;
    }

    #page-2 .row:first-child {
        height: 120px;
        margin: 0;
    }

    #page-2 .h1, #page-2 h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 30px;
        line-height: 1.15;
        padding: 43px 5px 0;
        margin: 0;
    }

    #page-2 .row .col-md-6 {
        height: 130px;
        padding: 0 20px;
        line-height: 1.25;
        margin: 130px 0 0;
    }

    #page-2 .row:nth-child(3) {
        margin: 120px 0 0 0;
    }

    #page-2 .row .col-md-6 p {
        padding: 5px 0;
        line-height: 1.48;
    }

    #page-2 .colorBG {
        margin: 100px 0 0;
        padding: 0;
        height: 330px;
        width: 100%;
        position: absolute;
        background: -webkit-gradient(linear, left top, right bottom, from(#7347a0), to(#647cea));
        background: -webkit-linear-gradient(left top, #647cea, #7347a0);
        background: -o-linear-gradient(bottom right, #647cea, #7347a0);
        background: -moz-linear-gradient(bottom right, #647cea, #7347a0);
        background: linear-gradient(to bottom right, #647cea, #7347a0);
    }
    #page-2 .row .offer-block-one .number-bg {
        display: inline-block;
        position: absolute;
        top: 182px;
        left: 0;
        width: 75px;
        height: 160px;
        font-weight: 100;
        font-size: 133px;

        background: -webkit-gradient(linear, left top, right bottom, from(#81b0d2), to(#746bd7));
        background: -webkit-linear-gradient(left top, #746bd7, #81b0d2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #746bd7, #81b0d2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, #746bd7, #81b0d2); /* Standard syntax */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    #page-2 .row:last-child .swiper-container {
        width: 300px;
        height: 500px;
        z-index: 10;
        margin: 0 10px;
    }
    #page-2 .row .swiper-container .swiper-slide .offer-block-one {
        color: white;
        margin: 0;
        height: 430px;
        width: 300px;
        padding: 0;
    }
    #page-2 .row .swiper-container .swiper-slide .offer-block-one img {
        float: none;
        width: 300px !important;
    }
    #page-2 .offer-block-two {
        border: 2px solid deepskyblue;
        padding: 0;
        background-color: ghostwhite;
        height: 480px;
        width: 300px;
        margin-top: -2px;
    }

    #page-2 .swiper-slide {
        text-align: center;
        font-size: 12px;
        background: transparent;
        margin: 0;
        width: 300px !important;
    }

    .points, #page-2 .col-md-8 p {
        margin: 9px -5px;
        height: 246px;
        overflow-y: scroll;
        color: lightslategrey;
        font-size: 14px;
        line-height: 1.6;
        width: 296px;
        text-align: left;
    }
    #page-2 .offer-block-two h2 {
        font-size: 28px;
        font-weight: 100;
        height: 130px;
        padding: 21px 100px 0 16px;
        text-align: left;
        line-height: 1.25;
    }
    #page-2 .offer-block-two .info-more {
        color: darkslateblue;
        border: 3px solid darkslateblue;
        margin: 0 133px;
    }
    #page-2 .swiper-container-horizontal > .swiper-pagination-bullets, #page-2 .swiper-pagination-custom, #page-2 .swiper-pagination-fraction {
        height: 23px;
        top: 477px;
        width: 80px;
        left: 111px;
    }
    #page-2 .offer-block-one .content {
        height: 20px;
        /* width: 15px; */
        z-index: 5;
        margin: 0 40px 0;
        text-align: left;
    }
    #page-2 .offer-block-one .info-more{
        position: absolute;
        width: 30px;
        height: 30px;
        border: 2px solid white;
        border-radius: 25px;
        background: transparent;
        margin: 41px 136px;
        text-decoration: none;
        color: white;
        text-align: center;
        line-height: 1;
        bottom: 50px;
        font-size: 22px;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background: darkslateblue;
        opacity: .5;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: darkslateblue;
    }
    .swiper-pagination

}